
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-align-justify:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-calendar-1:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
